Task:
Implement a web application called “chat”, which has the following functions:

1.Registering and authorizing users
+2.Creating chat rooms
+3.Transferring messages in real time
+4.Saving and displaying message history
+5.File transfer

A “templates” folder with HTML pages is attached to the task. You can use them as template sources.
The main factor is not the application’s efficiency, but its structure and the adequacy of using different components in order to perform specific tasks.


Recommended Technologies:
We recommend the following libraries, yet it’s possible to use others:

+1.Express: basic framework for creating applications;
2.Async: module for working with the asynchronous aspects of JavaScript code;
+3.Socket.IO: library for providing a real-time connection to the server;
+4.Mongodb, Mongoose: module for connecting and an object wrapper for Mongodb database;
5.Winston: logging module;
6.Jade, Swig, EJS: template modules.